*{
    margin: 0;
    padding: 0;
}
.soloH1{
    color: rgb(26, 134, 134);
    font-family: 'Lemonada', cursive;
    padding: 1.8rem;
    margin: 16px auto;
    width: fit-content;
    border: solid #b03eda;
    }
h2{
    font-family: 'Lemonada', cursive;
    color: rgb(17, 17, 4);
    font-weight: 500;
    font-size: 1.8rem;
    width: fit-content;
    border-radius: 0.43rem;
    border: solid 0.1rem #b03eda;
    margin: 5px auto;
    }
    .film{
        &__ini{
            border: map-get($bordes, "bordesdor");
        }
    }
    .pie{
        background-color: #c4f592;
        height: 300px;
            &__pagina{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 99%;
                    &__icono{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        list-style: none;
                    }
        }
    }
    .iconoredes img{
        width: 45px;
    } 
    .fondo{
        background-color: #c4f592;
    }  
    .container-fluid{
        width: 90%;
    }
    .tm-gl:hover{
        transform: scale(3);
    }
    .tm-gl{
        transition: all 3s; align-content: center;
    }
    .nav-link:hover{
        transform: scale(1,5);
    }
    .nav-link{
        transition: all 2s; text-decoration-color: blueviolet 2s;
    }