
.carrouselinicio{
    width: 99%;
    height: 600px;
    margin: 3px auto;
    border: solid gold;
    background-repeat: no-repeat;
    background-size: cover;
    animation: carrousel 30s infinite;
}  
@keyframes carrousel{
    0%{
        background-image: url(../imagenes/buda50.jpg);
    }
    25%{
        background-image: url(../imagenes/galeria81.jpg);
    }
    50%{
        background-image: url(../imagenes/galeria20.jpg);
    }
    75%{
        background-image: url(../imagenes/nuevobuda3.jpg);
    }
    100%{
        background-image: url(../imagenes/nuevobuda41.jpg);
    }
}
.nav-br{ 
    display: flex;
    background-color:#c4f592;
    font-family: 'JetBrains Mono', monospace;
}
.parrafoIndex{
    font-size: 20px;
    width: 100rem;
    border: solid 0.2rem black;
    height: 25rem;
    overflow: auto;
}
main section .sonidofr{ 
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.pruebagrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: flex-start;
}
.fotoinicio{
    width: 250px;
    height: 400px;
}


   