.significadosParrafo{  
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
    word-spacing: 0.8rem; 
}
.prf1{
    color: rgb(67, 202, 202); 
}
.prf2{
    color: rgb(31, 2, 85);
}
.prf3{
    color: rgb(66, 28, 204);
}