/* Google font
font-family: 'JetBrains Mono', monospace;
font-family: 'Lemonada', cursive; */


*{ margin: 0;
padding: 0;
}

/* El General */

.soloH1{
    color: rgb(26, 134, 134);
    font-family: 'Lemonada', cursive;
    padding: 1.8rem;
    margin: 16px auto;
    width: fit-content;
    border: solid black;
}
.carrouselinicio{
    width: 99%;
    height: 400px;
    margin: 3px auto;
    border: solid gold;
    background-repeat: no-repeat;
    background-size: cover;
    animation: carrousel 30s infinite;
}  
@keyframes  carrousel{
    0%{
        background-image: url(../imagenes/nuevobuda.jpg);
    }
    25%{
        background-image: url(../imagenes/Diapositiva1.PNG);
    }
    50%{
        background-image: url(../imagenes/nuevobuda2.jpg);
    }
    75%{
        background-image: url(../imagenes/nuevobuda3.jpg);
    }
    100%{
        background-image: url(../imagenes/nuevobuda4.jpg);
    }
}
h2{
    font-family: 'Lemonada', cursive;
    color: rgb(17, 17, 4);
    font-weight: 500;
    font-size: 1.8rem;
    width: fit-content;
    border-radius: 0.43rem;
    border: solid 0.1rem tomato;
}
.pie{
    background-color: rgb(187, 214, 216);
}
.pie__pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 25px;
    padding: 5px;

}
.pie__pagina__icono{
    display: flex;
    flex-direction: column;
    align-items: center; 

}

.fondo1{
    background-color: rgb(182, 238, 219);
    background-size: cover;
}
.fondo2{
    background-color: rgb(182, 238, 219);
    background-size: cover;
}
nav ul{
    list-style: none;
    /* height: 3.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */
    margin: 0 auto;
    width: fit-content;
}
nav ul .listas2{
    display: inline-block;
    padding: 0.5rem;
}
nav ul .listas2 a {
    color: rgb(72, 204, 10);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    text-decoration: none;
}
.parrafoIndex{
    width: 24rem;
    border: solid 0.2rem black;
    height: 8rem;
    overflow: auto;
}
.significadosParrafo{  
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
    word-spacing: 0.8rem; 
}
.prf1{
    color: azure; 
}
.prf2{
    color: darkorange;
}
.prf3{
    color: gold;
}
/* cascada */
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, auto));
    grid-auto-rows: minmax(299px, auto);
    gap: 25px;
    padding: 3%;
}
.galeria__imagen{
    display: flex;
    align-items: center;
}
.galeria__imagen img{
    width: 300px;
    height: 300px;
}
.galeria__imagen__textosCascadas{
    width: fit-content;
    text-align: center;
}
.galeria__imagen__textosCascadas{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    text-align: center;
    line-height: 2rem;
    word-spacing: 0.8rem;
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 400px){
    .fondo2{
        background-image: url(../imagenes/cascadamobile2.png);
        background-size: cover;
    }
}
.comienzos{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
    word-spacing: 0.8rem;
    color: rgb(242, 247, 240);
}
main section .sonidofr{ 
    position: fixed;
    right: 15px;
    bottom: 15px;
}
/* grid */
.pruebagrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: flex-start;
}
